- content_for :title do
  = t('.title')

.page-header
  %h1=t '.resend'

= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => {:class => 'form-horizontal', :role => 'form',  :method => :post }) do |f|
  = error_notification(resource) if resource.errors.any?
  / = devise_error_messages!

  .form-group
    = f.label :email, class: 'col-sm-3 control-label'
    .col-sm-6
      = f.email_field :email, class: 'form-control', required: true, autofocus: true

  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit t('.proceed'), class: 'btn btn-primary'

= render "devise/shared/links"
