- content_for :title do
  = t('.title')

%ol.breadcrumb
  %li= link_to t('.index'), users_path
  %li.active= @user.full_name

.page-header.w-lead
  %p.lead= t(:user)
  %p.pull-right
    = link_to_edit(@user, edit_user_path(@user), :button => :norm, :glyphicon  => "edit")
    = link_to_destroy(@user, user_path(@user), :button => :norm, :glyphicon  => "remove-sign")
  %h1= @user.full_name

.row.record-detail
  .col-md-9
    .record-fields
      %dl.dl-horizontal
      
        %dt= t('.first_name', :default => t("users.attributes.first_name"))
        %dd= @user.first_name
      
        %dt= t('.last_name', :default => t("users.attributes.last_name"))
        %dd= @user.last_name
      
        %dt= t('.email', :default => t("users.attributes.email"))
        %dd= @user.email
      
        %dt= t('.note', :default => t("users.attributes.note"))
        %dd= @user.note
      
        %dt= t('.god', :default => t("users.attributes.god"))
        %dd= bool_to_icon(@user.god)

      %dl.dl-horizontal.buttons
        %td
        %dd= link_to_index User, users_path, :button => :norm

  .col-md-3
    = render :partial => "layouts/sancho/record_stamps", :locals => { :o => @user }
